[Desktop Entry]
Name=CD-Manager
Comment=Manage your CDs/DVDs (records and films)
Comment[de]=Verwalten von CDs/DVDs (sowohl Audio als auch Video)
Comment[es]=Adminstrción de compactos y DVDs (de discos y películas)
Categories=GTK;Application;
Exec=CDManager
Icon=CDManager
StartupNotify=true
Terminal=false
Type=Application
